@font-face{
  font-family:"ITCFranklinGothicW01-Bk 812647";  //reg
  src:url("fonts/03dda592-ab39-4f26-9535-fdea194854cf.eot?#iefix");
  src:url("fonts/03dda592-ab39-4f26-9535-fdea194854cf.eot?#iefix") format("eot"),url("fonts/41c174b1-68c1-41b7-a19f-5ec80929b115.woff") format("woff"),url("fonts/06d99598-12aa-461b-b57e-81a137da1b9f.ttf") format("truetype"),url("fonts/427cca04-e0ee-4395-a5d3-b7d45feeff62.svg#427cca04-e0ee-4395-a5d3-b7d45feeff62") format("svg");
}
@font-face{
  font-family:"ITCFranklinGothicW01-Dm 812686"; //Bold italic
  src:url("fonts/e87a0fc1-a470-4e66-b5d3-1f5e104c80be.eot?#iefix");
  src:url("fonts/e87a0fc1-a470-4e66-b5d3-1f5e104c80be.eot?#iefix") format("eot"),url("fonts/74bfc732-8944-48e4-af03-b3d2373ff97f.woff") format("woff"),url("fonts/a10e2fb8-a2fd-452f-9128-de2d550c69d6.ttf") format("truetype"),url("fonts/82ffbb5c-0b67-49c2-8b95-7a395bde55bc.svg#82ffbb5c-0b67-49c2-8b95-7a395bde55bc") format("svg");
}
@font-face{
  font-family:"ITCFranklinGothicW01-Dm 812668"; //Bold reg
  src:url("fonts/498d8f5c-6dfe-4a07-9fdf-321bcc11909c.eot?#iefix");
  src:url("fonts/498d8f5c-6dfe-4a07-9fdf-321bcc11909c.eot?#iefix") format("eot"),url("fonts/08fe22ab-0517-4203-bcc9-1ba2ca45f40c.woff") format("woff"),url("fonts/6adc2e3a-d0c4-4c48-ba68-91b4107515d7.ttf") format("truetype"),url("fonts/426ce955-d5bd-4a77-b077-402088f77e65.svg#426ce955-d5bd-4a77-b077-402088f77e65") format("svg");
}
@font-face{
  font-family:"Trebuchet W01 Regular";
  src:url("fonts/fbd0f791-870f-4f29-bbc3-9827434737a2.eot?#iefix");
  src:url("fonts/fbd0f791-870f-4f29-bbc3-9827434737a2.eot?#iefix") format("eot"),url("fonts/2ce511de-aa95-4ce0-84ae-f462ece99bf7.woff") format("woff"),url("fonts/f108aafb-b2fc-400c-b3a3-fa358809a930.ttf") format("truetype"),url("fonts/6dbee8aa-ec24-476b-ac7c-587bc9a89a25.svg#6dbee8aa-ec24-476b-ac7c-587bc9a89a25") format("svg");
}
@font-face{
  font-family:"Trebuchet W01 Italic";
  src:url("fonts/4af729a0-6b04-421a-83a0-fecc6043f180.eot?#iefix");
  src:url("fonts/4af729a0-6b04-421a-83a0-fecc6043f180.eot?#iefix") format("eot"),url("fonts/02a11c6a-7116-4a68-b47e-baf0ba4674f2.woff") format("woff"),url("fonts/c518328a-8eeb-400f-b878-4dd0d30665d4.ttf") format("truetype"),url("fonts/f556b4fb-b3f1-4199-a5a9-6e9f993ee799.svg#f556b4fb-b3f1-4199-a5a9-6e9f993ee799") format("svg");
}
@font-face{
  font-family:"TrebuchetW01-BoldItalic";
  src:url("fonts/3752b8af-79d1-4507-97b0-2a3e2811b2b9.eot?#iefix");
  src:url("fonts/3752b8af-79d1-4507-97b0-2a3e2811b2b9.eot?#iefix") format("eot"),url("fonts/2494768a-93cb-4150-85ea-e4bfdbbf8aba.woff") format("woff"),url("fonts/27417c3b-cd6c-4824-8844-24c2703974c0.ttf") format("truetype"),url("fonts/d392054d-d49a-47c6-bede-83572492a133.svg#d392054d-d49a-47c6-bede-83572492a133") format("svg");
}
@font-face{
  font-family:"ITCFranklinGothicW01-Bk 812665"; //Italic regular
  src:url("fonts/309e275f-1390-4fe1-84c8-2c57ee140fec.eot?#iefix");
  src:url("fonts/309e275f-1390-4fe1-84c8-2c57ee140fec.eot?#iefix") format("eot"),url("fonts/0217968f-fe47-452d-bf4a-64f4fb60de07.woff") format("woff"),url("fonts/02baf074-eef5-4bdf-bf8a-c7d5c525e5b5.ttf") format("truetype"),url("fonts/c806ee51-6432-4bcb-8cba-574e9cfb5709.svg#c806ee51-6432-4bcb-8cba-574e9cfb5709") format("svg");
}
@font-face{
  font-family:"Trebuchet W01 Bold";
  src:url("fonts/e595739f-4994-4060-90ef-50e08d66509f.eot?#iefix");
  src:url("fonts/e595739f-4994-4060-90ef-50e08d66509f.eot?#iefix") format("eot"),url("fonts/00fba97c-0e4a-4093-8859-fcba467a7e95.woff") format("woff"),url("fonts/4c80d67e-fe7c-407b-a934-59134ad64cc7.ttf") format("truetype"),url("fonts/8d70d68e-dc8a-4e88-b498-a2e740847a1b.svg#8d70d68e-dc8a-4e88-b498-a2e740847a1b") format("svg");
}
