$blueDark: #03356d;
$blueLight: #0d67b5;
$green: #70b721;
$grayDark: #2f2f2f;
$grayMed: #57565a;
$grayLight: #949494;
$grayUltraLight: #ededed;
$mdOverflowHeight:524px;
$lgOverflowHeight:584px;


ul{
  padding-left: 15px;
}

*{
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body,html{
  background-color: #ffffff;
  font-family: 'Trebuchet W01 Regular';
    font-size: 100%;
    vertical-align: baseline;
}
.container{
  min-width: 999px;
}
.tooltip.in{
  opacity: 1;
}

.introText{
  font-family: 'Trebuchet W01 Bold';
  font-size: 16px;
  font-weight: normal;
}

.tooltip.top .tooltip-arrow{
  border-top-color:$grayMed;
}
.tooltip-inner {
  max-width: 550px;
  border-radius: 0;
  width: 550px;
  white-space:pre-wrap;
  text-align: left;
  background-color: $grayMed;
  border: 2px solid #ffffff;
  p{
    font-size: 13px !important;
    text-transform: none;
  }
}

.main{
  min-width: 999px;
  z-index: 3;
  -webkit-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.48);
  box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.48);
  background-color: #e0e0e0;
  &.cover{
    background: url(../images/bkg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
  }
  p{
    font-size: 16px;
    margin: 0 0 35px 0;
    line-height: 21px;
    @include breakpoint(lg){
      font-size: 17px;
    }
  }
  .container{
    .leftCol{
      border-right: 3px solid #ffffff;
      .row{
        margin-bottom: 20px;
      }
      .overflow {
        height: $mdOverflowHeight;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background-color: #ffffff;
        @include breakpoint(lg) {
          height: $lgOverflowHeight;
        }
      }
    }
  }
}

.green{
  color:$green;
}
.blue{
  color:$blueLight;
}

.link{
  color:$blueLight;
  &:hover{
    cursor: pointer;
  }
}

.modal-dialog{
  margin: 200px auto;
}

.modal-dialog {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal-body {
  overflow-y: auto;
}
.modal-footer {
  margin-top: 0;
}

@media (max-width: 767px) {
  .modal-dialog {
    width: 100%;
  }
}


//.centerModal{
//  .modal-dialog {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    width:700px;
//    margin-left: -350px;
//    margin-top: -150px;
//    .modal-content{
//      overflow: auto;
//      height: 300px;
//    }
//  }
//  @media (max-width: 767px) {
//    .modal-dialog {
//      width: 100%;
//    }
//  }
//}
//.confirmModal{
//  .modal-dialog {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    width:300px;
//    margin-left: -150px;
//    margin-top: -100px;
//    .modal-content{
//      overflow: auto;
//      height: 200px;
//    }
//  }
//  @media (max-width: 767px) {
//    .modal-dialog {
//      width: 100%;
//      position: static;
//      margin: 10px;
//      .modal-content{
//        height: auto;
//        overflow: inherit;
//      }
//    }
//  }
//}

.noBorder{
  border: none !important;
}
.noBorderRight{
  border-right: none !important;
}
.noBorderLeft{
  border-left: none !important;
}

h1{
  font-size: 22px;
  text-transform: uppercase;
  margin: 30px 0 10px 0;
  color: $grayMed;
  font-family: 'ITCFranklinGothicW01-Dm 812668';
}