.hsAir2{
  .seriesTitle{
    .hsAirStd{
      width:15%;
      @include breakpoint(lg){
        width:15%;
      }
    }
    .headCol{
      width:17%;
      @include breakpoint(lg){
        width:17%;
      }
    }
  }
  .overflow{
    >table td {
      &.headOpts,&.light,&.ports,&.tubing{
        border-right: 1px solid $grayLight;
      }
    }
    >table{
      width: 100%;
      tr.entry{
        background-color: transparent;
        border-bottom: 1px solid $grayLight;
        td{
          &.thumb{
            .title .first{
              text-align: center;
            }
          }
          &.stdCol{
            width:15%;
            padding: 10px;
            vertical-align: top;
            @include breakpoint(lg){
              width:15%;
            }
            img{
              margin-top: 20px;
              width:100%;
            }
          }
          &.headCol{
            width:17%;
            padding: 10px;
            vertical-align: top;
            @include breakpoint(lg){
              width:17%;
            }
          }
          &.seriesCol{
            position: relative;
            >img{
              width: 100%;
              position: absolute;
              top:0;
              left:0;
              z-index: 2;
            }
            >table{ //Title of the series
              position: absolute;
              width:100%;
              bottom:0;
              z-index: 3;
              left: 0;
              text-align: center;
              color: #ffffff;
              min-height: 33px;
              height:33px;
              @include breakpoint(lg){
                min-height: 50px;
                height:50px;
              }
              text-transform: uppercase;

          font-family: 'ITCFranklinGothicW01-Dm 812668';
          font-size: 17px;
          tr{
            td{
              &:first-child{
                background-color: $blueLight;
              }
              &:last-child{
                width: 30%;
                background-color: $blueDark;
              }
            }
          }
            }
          }
        }
      }
    }
  }
}
.hsAir3{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:210px;
      @include breakpoint(lg){
        width:250px;
      }
    }
  }
   .overflow{
     table{
       width: 100%;
       .entry{
         border-bottom: 1px solid $grayLight;
         .remove{
           width:80px;
           text-align: center;
           padding-top: 20px;
           vertical-align: top;
           text-transform: uppercase;
           font-size: 13px;
           background-color: $grayUltraLight;
           border-left: 1px solid $grayLight;
         }

         .details{
           padding: 10px;
           .copy{
             margin-bottom: 20px;
           }
         }
       }
     }
   }
 }
.hsAir4{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:210px;
      @include breakpoint(lg){
        width:250px;
      }
    }
    .second{
      width:45%;
    }
  }
  .overflow{
    table:first-child{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .relatedProducts{
          padding: 10px;
          width:45%;
          border-right:1px solid $grayLight;
        }
        .tubing{
          padding: 10px;
          >div{
            margin-bottom: 10px;
            margin-top: 10px;
            @include breakpoint(lg){
              margin-bottom: 14px;
              margin-top: 14px;
            }
          }
          i{
            background-color: $blueLight;
            border-radius: 100%;
            color: #ffffff;
            padding: 2px 5px;
            font-size: 13px;
          }
        }
      }
    }
    table:first-child + table{
      .entry{
        .productTitle > span{
          white-space: normal !important;
        }
        position: relative;
        border-bottom: 1px solid $grayLight;
        .checker{
          width:40px;
          padding: 1px 10px 1px 10px;
          background-color: #ffffff;
        }
        .description{
          padding: 10px;
        }
      }
    }
  }
}
.hsAir5{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:200px;
      @include breakpoint(lg){
        width:244px;
      }
    }
  }
  .overflow{
    table{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .title{
          td.extra span{
            white-space: normal !important;
          }
        }
        .remove{
          width:80px;
          text-align: center;
          padding-top: 20px;
          vertical-align: top;
          text-transform: uppercase;
          font-size: 13px;
          background-color: $grayUltraLight;
          border-left: 1px solid $grayLight;
        }
        .details{
          padding: 10px;
          font-size: 15px;
          p{
            margin: 10px 0 10px 0;
          }
          .copy{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
