.hygiene2{
  .seriesTitle{
    .seriesCol{
      width:210px;
      @include breakpoint(lg){
        width:249px;
      }
    }
    .ratio{
      width:12%;
      text-align: left;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .tubing{
      font-size: 12px;
      width:13%;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
        width:21%;
      }
    }
    .chuck{
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
  }
  .overflow{
    position: relative;
    table{
      width: 100%;
      td.middle{
        @include breakpoint(lg){
          font-size: 13px;
        }
      }
    }
    .entry{
      position: relative;
      border-bottom: 1px solid $grayLight;
      .divider{
        height:100%;
        display: inline-block;
        width:1px;
        background-color: $grayLight;
        position: absolute;
        top:0;
        &.chuck{
          left:604px;
          @include breakpoint(lg){
            left:640px;
          }
        }
        &.ratio{
          left:679px;
          @include breakpoint(lg){
            left:731px;
          }
        }
      }
      .middle{
        padding: 10px 0 10px 0;
        .chuck{
          width:398px;
          padding: 1px 10px 1px 10px;
        }
        .ratio{
          width:75px;
          font-size: 13px;
          padding: 1px 10px 1px 10px;
          text-align: center;
          @include breakpoint(lg){
            font-size: 15px;
          }
        }
        .tubing{
          font-size: 13px;
          padding: 1px 10px 1px 10px;
          text-align: center;
          @include breakpoint(lg){
            font-size: 15px;
          }
          img{
            width:100px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
.hygiene3{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:210px;
      @include breakpoint(lg){
        width:250px;
      }
    }
  }
  .overflow{
    table{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .remove{
          width:80px;
          text-align: center;
          padding-top: 20px;
          vertical-align: top;
          text-transform: uppercase;
          font-size: 13px;
          background-color: $grayUltraLight;
          border-left: 1px solid $grayLight;
        }

        .details{
          padding: 10px;
          .copy{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
.hygiene4{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:210px;
      @include breakpoint(lg){
        width:250px;
      }
    }
    .second{
      width:50%;
    }
  }
  .overflow{
    table:first-child{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .relatedProducts{
          padding: 10px;
          width:50%;
          border-right:1px solid $grayLight;
        }
        .tubing{
          padding: 10px;
          i{
            background-color: $blueLight;
            border-radius: 100%;
            color: #ffffff;
            padding: 2px 5px;
            font-size: 13px;
          }
        }
      }
    }
      table:first-child + table{
      .entry{
        .productTitle > span{
          white-space: normal !important;
        }
        position: relative;
        border-bottom: 1px solid $grayLight;
        .checker{
          width:40px;
          padding: 1px 10px 1px 10px;
          background-color: #ffffff;
        }
        .description{
          padding: 10px;
        }
      }
    }
  }
}
.hygiene5{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:200px;
      @include breakpoint(lg){
        width:244px;
      }
    }
  }
  .overflow{
    table{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .title{
          td.extra span{
            white-space: normal !important;
          }
        }
        .remove{
          width:80px;
          text-align: center;
          padding-top: 20px;
          vertical-align: top;
          text-transform: uppercase;
          font-size: 13px;
          background-color: $grayUltraLight;
          border-left: 1px solid $grayLight;
        }
        .details{
          padding: 10px;
          font-size: 15px;
          p{
            margin: 10px 0 10px 0;
          }
          .copy{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
