.lsAir2{
  .seriesTitle{
    .seriesCol{
      width:210px;
      @include breakpoint(lg){
        width:249px;
      }
    }
    .chuck{
      width:28%;
    }
    .tubing{
      width:20%;
    }
  }
  .overflow{
    .tubing{
      padding: 10px;
    }
    .entry{
      position: relative;
      border-bottom: 1px solid $grayLight;
      .divider{
        height:100%;
        display: inline-block;
        width:1px;
        background-color: $grayLight;
        position: absolute;
        top:0;
        &.ratioDivider{
          left:421px;
          @include breakpoint(lg){
            left:495px;
          }
        }
        &.chuckDivider{
          left:639px;
          @include breakpoint(lg){
            left:752px;
          }
        }
      }
    }
    .middle{
      >table{
        width:100%;
        .ratio{
          padding: 0 10px 0 10px;
        }
        .chuck{
          width:50%;
          padding: 0 10px 0 10px;
          font-size: 13px;
          @include breakpoint(lg){
            font-size: 15px;
          }
        }
      }
    }
    .tubing{
      width:20%;
    }
  }
}
.lsAir3{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:210px;
      @include breakpoint(lg){
        width:250px;
      }
    }
  }
  .overflow{
    table{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .remove{
          width:80px;
          text-align: center;
          padding-top: 20px;
          vertical-align: top;
          text-transform: uppercase;
          font-size: 13px;
          background-color: $grayUltraLight;
          border-left: 1px solid $grayLight;
        }

        .details{
          padding: 10px;
          font-size: 12px;
          @include breakpoint(lg){
            font-size: 13px;
            padding: 15px;
          }
          .copy{
            margin-bottom: 10px;
            @include breakpoint(lg){
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
.lsAir4{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:210px;
      @include breakpoint(lg){
        width:250px;
      }
    }
    .second{
      width:50%;
    }
  }
  .overflow{
      table:first-child{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .relatedProducts{
          padding: 10px;
          width:50%;
          border-right:1px solid $grayLight;
        }
        .tubing{
          padding: 10px;
          font-size: 13px;
          @include breakpoint(lg){
            font-size: 15px;
          }
          *+*{
            margin: 10px 0 10px 0;
          }

          i{
            background-color: $blueLight;
            border-radius: 100%;
            color: #ffffff;
            padding: 2px 5px;
            font-size: 13px;
          }
        }
      }
    }
    table:first-child + table{
      .entry{
        .productTitle > span{
          white-space: normal !important;
        }
        position: relative;
        border-bottom: 1px solid $grayLight;
        .checker{
          width:40px;
          padding: 1px 10px 1px 10px;
          background-color: #ffffff;
        }
        .description{
          padding: 10px;
        }
      }
    }
  }
}
.lsAir5{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:200px;
      @include breakpoint(lg){
        width:244px;
      }
    }
  }
  .overflow{
    table{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .title{
          td.extra span{
            white-space: normal !important;
          }
        }
        .remove{
          width:80px;
          text-align: center;
          padding-top: 20px;
          vertical-align: top;
          text-transform: uppercase;
          font-size: 13px;
          background-color: $grayUltraLight;
          border-left: 1px solid $grayLight;
        }
        .details{
          padding: 10px;
          font-size: 15px;
          p{
            margin: 10px 0 10px 0;
          }
          .copy{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
