.lsElectric2{
  .seriesTitle{
    .seriesCol{
      width:210px;
      @include breakpoint(lg){
        width:249px;
      }
    }
    .headSize{
      text-align: left;
    }
    .length{
      width:8%;
      text-align: left;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .ratio{
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .chuck{
      width:17%;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .light{
      width:7%;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .finish{
      width:13%;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .headSize{
      width:9%;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
  }
  .overflow{
    position: relative;
    table{
      width:100%;
      td.middle{
        font-size: 11px;
        @include breakpoint(lg){
          font-size: 13px;
        }
      }
    }
    .entry{
      position: relative;
      border-bottom: 1px solid $grayLight;
      .divider{
        height:100%;
        display: inline-block;
        width:1px;
        background-color: $grayLight;
        position: absolute;
        top:0;
        &.headSizeDivider{
          left:276px;
          @include breakpoint(lg){
            left:330px;
          }
        }
        &.lengthDivider{
          left:348px;
          @include breakpoint(lg){
            left:408px;
          }
        }
        &.ratioDivider{
          left:500px;
          @include breakpoint(lg){
            left:592px;
          }
        }
        &.chuckDivider{
          left:644px;
          @include breakpoint(lg){
            left:761px;
          }
        }
        &.lightDivider{
          left:694px;
          @include breakpoint(lg){
            left:819px;
          }
        }
      }
      .headSize{
        width:12%;
        padding: 1px 10px 1px 10px;
      }
      .length{
        width:12%;
        padding: 1px 10px 1px 10px;
      }
      .ratio{
        padding: 1px 10px 1px 10px;
        .checkBox{
          >div{
            >div{
              >div{
                &.last{
                  font-size: 11px;
                  position: relative;
                  top:2px;
                  @include breakpoint(lg){
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }
      .chuck{
        width:25%;
        padding: 1px 10px 1px 10px;
      }
      .light{
        width:9%;
        padding: 1px 10px 1px 10px;
      }
      .finish{
        width:16%;
        padding: 1px 10px 1px 10px;
      }
    }
  }
}
.lsElectric3{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:210px;
      @include breakpoint(lg){
        width:250px;
      }
    }
  }
  .overflow{
    table{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .remove{
          width:80px;
          text-align: center;
          padding-top: 20px;
          vertical-align: top;
          text-transform: uppercase;
          font-size: 13px;
          background-color: $grayUltraLight;
          border-left: 1px solid $grayLight;
        }

        .details{
          padding: 10px;
          .copy{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
.lsElectric4{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:210px;
      @include breakpoint(lg){
        width:250px;
      }
    }
    .second{
      width:50%;
    }
  }
  .overflow{
    table:first-child{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .relatedProducts{
          padding: 10px;
          width:50%;
          border-right:1px solid $grayLight;
        }
        .tubing{
          padding: 10px;
          i{
            background-color: $blueLight;
            border-radius: 100%;
            color: #ffffff;
            padding: 2px 5px;
            font-size: 13px;
          }
        }
      }
    }
      table:first-child + table{
      .entry{
        .productTitle > span{
          white-space: normal !important;
        }
        position: relative;
        border-bottom: 1px solid $grayLight;
        .checker{
          width:40px;
          padding: 1px 10px 1px 10px;
          background-color: #ffffff;
        }
        .description{
          padding: 10px;
        }
      }
    }
  }
}
.lsElectric5{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:200px;
      @include breakpoint(lg){
        width:244px;
      }
    }
  }
  .overflow{
    table{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .title{
          td.extra span{
            white-space: normal !important;
          }
        }
        .remove{
          width:80px;
          text-align: center;
          padding-top: 20px;
          vertical-align: top;
          text-transform: uppercase;
          font-size: 13px;
          background-color: $grayUltraLight;
          border-left: 1px solid $grayLight;
        }
        .details{
          padding: 10px;
          font-size: 15px;
          p{
            margin: 10px 0 10px 0;
          }
          .copy{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
