.maintenance2{
  .overviewTitle{
    >table{
      background-color: $grayDark;
      color: #ffffff;
      td{
        text-align: center;
        width:17%;
        font-size: 11px;
        padding: 10px;
        color: $grayLight;
        @include breakpoint(lg){
          font-size: 13px;
        }
        &.seriesCol{
          width: 32%;
          color: #ffffff;
          text-transform: uppercase;
          font-family: 'ITCFranklinGothicW01-Dm 812668';
          font-size: 17px;
          @include breakpoint(lg){
            font-size: 20px;
          }
        }
      }
    }
  }
  .overviewOverflow{
    table{
      background-color: #ffffff;
      width:100%;
      margin-bottom: 10px;
      td{
        border: 1px solid $grayLight;
        width:17%;
        font-size: 13px;
        padding: 5px 10px 5px 10px;
        text-align: center;
        &.seriesCol{
          width: 32%;
          font-family: 'ITCFranklinGothicW01-Dm 812668';
          text-align: left;
          @include breakpoint(lg){
            font-size: 20px;
          }
          .title{
            font-size: 14px;
            text-transform: uppercase;
            @include breakpoint(lg){
              font-size: 15px;
            }
          }
          .details{
            font-size: 12px;
            line-height: 12px;
            @include breakpoint(lg){
              font-size: 13px;
              line-height: 13px;
            }
          }
        }
        &.checkmark:after{
          content:'\f00c';
          font-family: 'fontawesome';
          display: inline-block;
          font-size: 35px;
          color:$green;
        }
      }
    }
  }
  .seriesTitle{
    .seriesCol{
      width:210px;
      font-size: 15px;
      @include breakpoint(lg){
        width:249px;
      }
    }
    .description{
      text-align: left;
      color: $grayLight;
    }
    .length{
      width:8%;
      text-align: left;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .ratio{
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .chuck{
      width:17%;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .light{
      width:7%;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .finish{
      width:13%;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
    .headSize{
      width:9%;
      font-size: 12px;
      color:$grayLight;
      @include breakpoint(lg){
        font-size: 15px;
      }
    }
  }
  .overflow{
    .entry{
      .productTitle > span{
        white-space: normal !important;
      }
      position: relative;
      border-bottom: 1px solid $grayLight;
      .checker{
        width:40px;
        padding: 1px 10px 1px 10px;
        background-color: #ffffff;
      }
      .description{
        padding: 10px;
      }
    }
  }
}
.maintenance3{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:210px;
      @include breakpoint(lg){
        width:250px;
      }
    }
  }
  .overflow{
    .productTitle > span{
      white-space: normal !important;
    }
    table{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .remove{
          width:80px;
          text-align: center;
          padding-top: 20px;
          vertical-align: top;
          text-transform: uppercase;
          font-size: 13px;
          background-color: $grayUltraLight;
          border-left: 1px solid $grayLight;
        }

        .details{
          padding: 10px;
          .copy{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
.maintenance4{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      width:211px;
      @include breakpoint(lg){
        width:252px;
      }
    }
    .second{
      text-align: left;
    }
  }
  .overflow{
    .productTitle > span{
      white-space: normal !important;
    }
    table{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .thumbnail{
          width:210px;
          font-size: 15px;
          @include breakpoint(lg){
            width:249px;
          }
        }
        .relatedProducts{
          padding: 10px;
          border-right:1px solid $grayLight;
        }
      }
    }
  }
}
.maintenance5{
  .seriesTitle{
    color:$grayLight;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    .first{
      text-align: center;
      width:200px;
      @include breakpoint(lg){
        width:244px;
      }
    }
  }
  .overflow{
    .productTitle > span{
      white-space: normal !important;
    }
    table{
      width: 100%;
      .entry{
        border-bottom: 1px solid $grayLight;
        .remove{
          width:80px;
          text-align: center;
          padding-top: 20px;
          vertical-align: top;
          text-transform: uppercase;
          font-size: 13px;
          background-color: $grayUltraLight;
          border-left: 1px solid $grayLight;
        }
        .details{
          padding: 10px;
          font-size: 15px;
          p{
            margin: 10px 0 10px 0;
          }
          .copy{
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}