@mixin breakpoint($point) {
  @if $point == xs {
    @media (min-width:767px) { @content; }
  }
  @if $point == sm {
    @media (min-width:768px) { @content; }
  }
  @if $point == md {
    @media (min-width:920px) { @content; }
  }
  @else if $point == lg {
    @media (min-width: 1200px)  { @content; }
  }
}