.summary-form{
  label{
    font-size: 18px;
    font-weight: normal;
    font-family: 'Trebuchet W01 Regular';
    line-height: 18px;
  }
  .error{
    border: 1px solid red;
    color:red;
  }
  .validationErrors{
    color:#be000a;
  }
  .well{
    border-radius: 0;
    background-color: $grayUltraLight;
  }
  ::-webkit-input-placeholder {
    color: $blueLight;
    font-size: 14px;
    padding: 2px 2px 2px 5px;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $blueLight;
    font-size: 14px;
    padding: 2px 2px 2px 5px;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $blueLight;
    font-size: 14px;
    padding: 2px 2px 2px 5px;
  }

  :-ms-input-placeholder {
    color: $blueLight;
    font-size: 14px;
    padding: 2px 2px 2px 5px;
  }

  .adLabel{
    padding-top: 7px;
    font-family: 'Trebuchet W01 Bold';
    text-transform: uppercase;
    &.required{
      &:after{
        content: '*';
        display: inline;
        margin-left: -3px;
      }
    }
  }
  form{
    font-size: 18px;
    line-height: 18px;
    .topLabel{
      margin-bottom: 10px;
      >i{
        margin-right: 10px;
      }
    }
    input{
      width:100%;
      padding: 5px;
    }
    .well{
      input{
        margin-bottom: 10px;
      }
    }
  }
}
