.summary{
  .summaryTitle{
    background-color: #ffffff;
    padding: 10px;
    color:#000000;
    font-family: 'ITCFranklinGothicW01-Dm 812668';
  }
  .overflow{
    table{
      width:100%;
      tr{
        border-top: 1px solid $grayLight;
        border-bottom: 1px solid $grayLight;
        td.details{
          padding: 20px;
        }
      }
      .entry{
        .title{
          td span{
            white-space: normal !important;
          }
        }
        .name,.model,.part{
          display: inline-block;
        }
        .name,.model{
          font-size: 20px;
          font-family: 'ITCFranklinGothicW01-Dm 812668';
          text-transform: uppercase;
        }
        .model,.part{
          margin-left: 30px;
        }
        .links>a{
          display: block;
        }
      }
    }
  }
  .footer{
    background-color: #ffffff;
    padding: 20px 10px 20px 10px;
    color:#000000;
    font-size: 12px;
    margin-bottom: 30px;
    font-family: 'ITCFranklinGothicW01-Dm 812668';
    @include breakpoint(lg){
      font-size: 14px;
    }
  }
}
