header{
  position: relative;
  padding: 20px 0 20px 0;
  z-index: 5;
  border-bottom: 1px solid #ffffff;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

  .logo,.title,.cta{
    display: inline-block;
  }
  .logo{
    position: relative;
    top:8px;
    &:hover{
      cursor: pointer;
    }
    img{
      width:200px;
    }
  }
  .title{
    font-size: 30px;
    position: relative;
    top:13px;
    left:20px;
    font-family: 'ITCFranklinGothicW01-Bk 812647';
  }
  .phone{
    float: right;
    width:340px;
    height: 65px;
    padding: 10px;
    color: $grayLight;
    background-color: transparent;
    -webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
    font-family: 'ITCFranklinGothicW01-Bk 812647';
    >strong{
      display: block;
      font-family: 'ITCFranklinGothicW01-Dm 812668';
      float: left;
      text-align: right;
      width:90px;
      height: 100%;
      margin-right: 10px;
      background-color: transparent;
    }
  }
}
footer{
  border-top: 1px solid #ffffff;
  position: relative;
  z-index: 5;
  padding: 20px 0 40px 0;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

// ------------------------------------ Breadcrumb widget
$navHeight: 50px;
$innerHeight: $navHeight * 0.88;
$numberHeight: $innerHeight * 0.8;

$arrowWidth: 23px;
$navBorderSize: 2px;
$navBorderStyle: solid;
$navBorderColor: white;

.nav{
  width:100%;
  height: $navHeight;
  margin-bottom: 20px;
  margin-top: 30px;


    ul.steps {
        list-style-type: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;


        li {

            color: #9b9b9b;
            background-color: #757479;
            display: inline-block;
            height: $navHeight;
            margin: 0;
            padding: 0;
            padding-left: 26px;
            vertical-align: top;

            border: $navBorderSize $navBorderStyle $navBorderColor;
            border-left: 0px solid transparent;
            border-right: 0px solid transparent;

            font-family: 'ITCFranklinGothicW01-Dm 812668', sans-serif;
            font-size: 9px;
            margin-left: -4px;

            @include breakpoint(lg) {
                font-size: 11px;
            }

            &.step {

                cursor: default;
                position: relative;

                span.number {
                    font-family: 'Trebuchet W01 Bold', sans-serif;
                    vertical-align: middle;
                    display: inline-block;
                    position: relative;
                    top:3px;
                    font-size: $numberHeight;
                    line-height: $innerHeight;

                    @include breakpoint(lg) {
                        font-size: $numberHeight;
                        line-height: $innerHeight;
                    }
                }

                span.text {
                    line-height: 12px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 4px;

                    @include breakpoint(lg) {
                        margin-left: 7px;
                    }
                }

                &:after {
                    position: absolute;
                    top: -2px;
                    right: -$arrowWidth + 1;
                    width: $arrowWidth;
                    height: $navHeight;

                    background-image: url(../images/arrowcaps_01.png);
                    background-position: top right;
                    background-repeat: no-repeat;

                    display: inline-block;
                    content: ' ';
                }

                &.complete {
                    color: #e5e5e5;
                    background-color: #757479;
                    &:hover{
                      cursor: pointer;
                    }
                    &:after {  background-image: url(../images/arrowcaps_01.png);  }
                }
                &.current {
                    color: #ffffff;
                    background-color: #83be37;
                    &:after {  background-image: url(../images/arrowcaps_02.png);  }
                }
                &.incomplete {
                    color: #eeeeee;
                    background-color: #c0c0c2;
                    &:after {  background-image: url(../images/arrowcaps_03.png);  }
                }

                &.step-0, &.step-5 {
                    width: 130px;

                    @include breakpoint(lg) {
                        width: 170px;
                    }
                }

                &.step-4,
                &.step-3,
                &.step-2,
                &.step-1 {
                    width: 129px;

                    @include breakpoint(lg) {
                        width: 145px;
                    }
                }


                &.step-5 {  z-index: 2;  }
                &.step-4 {  z-index: 3;  }
                &.step-3 {  z-index: 4;  }
                &.step-2 {  z-index: 5;  }
                &.step-1 {  z-index: 6;  }
                &.step-0 {
                    z-index: 7;
                    font-family: 'ITCFranklinGothicW01-Bk 812647', sans-serif;
                    font-weight: bold;
                    text-align: center;
                    border-left: $navBorderSize $navBorderStyle $navBorderColor;
                    line-height: $innerHeight;
                    padding: 0;
                    font-size: 13px;
                    color: white;
                    letter-spacing: normal;
                }
            }
        }

    }


}
// ------------------------------------ end Breadcrumb widget

.cta{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $grayMed;
  &:hover{
    cursor: pointer;
  }
  .title{
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: $grayDark;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    @include breakpoint(lg){
      font-size: 14px;
    }
  }
  .copy{
    padding: 10px;
    color: #ffffff;
    font-size: 13px;
  }
  .actionBtn{
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;background: #024175; /* Old browsers */
    background: -moz-linear-gradient(top,  #024175 0%, #1e5c8e 50%, #00467f 51%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#024175), color-stop(50%,#1e5c8e), color-stop(51%,#00467f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #024175 0%,#1e5c8e 50%,#00467f 51%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #024175 0%,#1e5c8e 50%,#00467f 51%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #024175 0%,#1e5c8e 50%,#00467f 51%); /* IE10+ */
    background: linear-gradient(to bottom,  #024175 0%,#1e5c8e 50%,#00467f 51%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#024175', endColorstr='#00467f',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
    box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
    i{
      margin-left: 5px;
    }
  }
}

.categoryBox{
  height: 185px;
  background-color: #ffffff;
  position: relative;
  &.active{
    outline: 2px solid $blueDark;
    .top>.title{
      background-color: $blueDark;
    }
  }

  &:hover{
    cursor: pointer;
  }
  &.withTitle{
    padding-left: 35px;
  }
  .top{
    height: 60%;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    @include breakpoint(lg){
      height: 68%;
    }
    >img{
      position: absolute;
      top:0;
      left: 0;
      width:100%;
      height:100%;
      z-index: 1;
    }
    >.title{
      padding: 5px 0 5px 0;
      text-align: center;
      color: #ffffff;
      width:50%;
      font-size: 14px;
      -webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
      box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
      background-color: $blueLight;
      position: absolute;
      z-index: 5;
      bottom:0;
      right:0;
      text-transform: uppercase;
      @include breakpoint(lg){
        font-size: 16px;
      }
      >i{
        margin-left: 7px;
      }
    }
  }
  .bottom{
    font-size: 15px;
    margin: 8px;
    @include breakpoint(lg){
      margin: 5px;
      font-size: 16px;
    }
    ul{
      li{
        display: inline;
        margin-right: 5px;
        @include breakpoint(lg){
          margin-right: 7px;
        }
        &:before {
          content: " \f111";
          font-family: fontawesome;
          margin-right: 5px;
          font-size: 5px;
          position: relative;
          top:-3px;
          @include breakpoint(lg){
            margin-right: 7px;
            font-size: 7px;
            top:-2px;
          }
        }
      }
    }
  }
  >.title{
    height:185px;
    width:35px;
    background-color: $grayDark;
    padding-left: 3px;
    left: 0;
    position: absolute;
    top:0;
    z-index: 5;
    .rotatedText{
      color: #ffffff;
      background-color: transparent;
      white-space: nowrap;
      width:185px;
      text-align: center;
      position: absolute;
      transform-origin:0 0;
      font-family: 'ITCFranklinGothicW01-Dm 812668';
      font-size: 20px;
      text-transform: uppercase;
      top:185px;
      left: 3px;
      transform:rotate(-90deg);
      .lt-ie9 & {
        bottom: auto;
        text-align: center;
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        top: 0;
      }
    }
  }
}

.bbArrow{
  width:250px;
  height: 80px;
  background:url(../images/bigBlueArrow.png) 0 0 no-repeat;
  color:#ffffff;
  text-align: center;
  padding-right: 10px;
  text-transform: uppercase;
  &:hover{
    cursor: pointer;
  }
  &.disabled{
    background:url(../images/bigBlueArrowDisabled.png) 0 0 no-repeat;
    &:hover{
      cursor: not-allowed;
    }
  }
  background-size: 100% 100%;
  .title{
    font-size: 30px;
    font-family: 'ITCFranklinGothicW01-Dm 812668';
    line-height: 30px;
    margin-top: 15px;
  }
  .sub{
    margin: 0;
    font-family: 'ITCFranklinGothicW01-Bk 812647';
  }
}
.sticky{
  opacity: 0;
  width:135px;
  @include breakpoint(lg){
    width:164px;
  }
}
.bbArrowSticky{
  .stickyBtnWrapper{
    width:135px;
    height: 43px;
    display: block;
    position: relative;
    color:#ffffff;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint(lg){
      width:164px;
      height: 52px;
    }
    .title{
      z-index: 3;
      font-size: 20px;
      font-family: 'ITCFranklinGothicW01-Dm 812668';
      line-height: 20px;
      padding-top: 5px;
      position: relative;
      @include breakpoint(lg){
        font-size: 25px;
        line-height: 25px;
        padding-top: 6px;
      }
    }
    .sub{
      position: relative;
      z-index: 2;
      font-family: 'ITCFranklinGothicW01-Bk 812647';
      font-size: 11px;
      line-height: 11px;
      @include breakpoint(lg){
        font-size: 13px;
        line-height: 13px;
      }
    }
    >img{
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &:hover{
    cursor: pointer;
  }
  &.disabled{
    &:hover{
      cursor: not-allowed;
    }
  }
}

.preloader{
  text-align: center;
  font-size: 30px;
  padding: 20px;
  i{
    color:$blueLight;
    font-size: 60px;
  }
}

.seriesTitle{
  background-color: $grayDark;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
  font-family: 'Trebuchet W01 Bold';
  >table{
    width:100%;
    tr{
      td{
        &.seriesCol{
          font-size: 18px;
          @include breakpoint(lg){
            font-size: 20px;
          }
        }
        &.stdCol,&.headCol{
          color: $grayLight;
        }
        >i{
          background-color: $blueLight;
          border-radius: 100%;
          color: #ffffff;
          padding: 2px 5px;
          font-size: 13px;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}

.checkBox{
  margin-bottom: 8px;
  padding: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  >div.modelItem{
    padding-left: 30px;
    font-size: 12px;
    display: block;
    color: $grayLight;
  }
  >div{
    display: table;
    background-color: transparent;
    width: 100%;
    table-layout:fixed;
    >div{
      display: table-row;
      >div{
        display: table-cell;
        &.first{
          width:20px;
          >div{
            vertical-align: top;
            width:20px;
            height:20px;
            background-color: white;
            -webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.2);
            -moz-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.2);
            box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.2);
            outline: 1px solid $grayLight;
            border-radius: 3px;
            &:hover{
              cursor: pointer;
            }
            &:after{
              content: '\001';
              font-size: 1px;
              line-height: 1px;
            }
          }
        }
        &.last{
          background-color: transparent;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 0 0 8px;
          font-size: 13px;
          @include breakpoint(lg){
            padding: 2px 0 0 8px;
            font-size: 15px;
          }
        }
      }
    }
  }
  &.active{
    >div{
      >div{
        >div{
          &.first>div:after{
            content: 'X';
            font-family: 'ITCFranklinGothicW01-Dm 812668';
            text-align: center;
            color: $blueDark;
            font-size: 13px;
            position: relative;
            margin: 0;
            padding: 0;
            left:7px;
            top:1px;
          }
        }
      }
    }
  }
}

.vSplitCell{
  width:100%;
  font-size: 13px;
  @include breakpoint(lg){
    font-size: 15px;
  }
  .top{
    min-height: 48px;
    @include breakpoint(lg){
      min-height: 50px;
    }
  }
  .bottom{
    img{
      width:100%;
      height: 100%;
      margin: 0 !important;
    }
  }
}

.closeBtn{
  margin: 5px;
  background-color: $grayLight;
  border-radius: 100%;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  position: relative;
  &:hover{
    cursor: pointer;
  }
  &:after{
    content: 'X';
    font-family: 'ITCFranklinGothicW01-Bk 812647';
    font-size: 18px;
    color: $grayDark;
    position: relative;
    top:-2px;
    left:0;
  }
}


.modal-content{
  border-radius: 0;
  .modalTable{
    width: 100%;
    button{
      background-color: $green;
      margin: 10px 0 10px 0;
      border: none;
      color:#ffffff;
      padding: 5px 10px 5px 10px;
      text-transform: uppercase;
    }
    th{
      padding: 5px 10px 5px 10px;
      text-transform: uppercase;
      background-color: #f4f4f4;
    }
    td{
      padding: 0 10px 0 10px;
      &.first{
        width: 50%;
      }
      &.last{
        padding-top:5px;
        width: 50%;
      }
    }
    .closeCol {
      width: 30px;
      text-align: right
    }
    .rectBtn {
        padding: 0 5px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: inline-block;
        position: relative;
        min-width: 100px;
        margin: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    .okBtn {
        color: #eeeeee;
        background-color: $green;
    }
    .cancelBtn {
        color: #eeeeee;
        background-color: $green;
    }

  }
}

.thumb{
  width:210px;
  position: relative;
  vertical-align: top;
  >div.popular{
    position: absolute;
    top:0;
    right:0;
    width:50%; //Most Popular Badge Size
    >img{
      width:100%;
    }
  }
  @include breakpoint(lg){
    width:250px;
  }
  >div.image{
      width:100%;
      >img{
        width:100%;
        height:100%;
      }
      >table.textImage{
        td{
          padding:5px;
          .textImageCurrency{
            font-size: 14px;
          }
        }
        width:100%;
        height:150px;
        text-align: center;
        border-right:1px solid $grayLight;
        background-color: $blueLight;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'ITCFranklinGothicW01-Dm 812668';
        font-size: 18px;
        >tr>td{
          padding: 5px;
        }
        @include breakpoint(lg){
          min-height:173px;
          font-size: 21px;
        }
      }
  }
  .title{
    width:100%;
    color:#ffffff;
    text-transform: uppercase;
    >table{
      width:100%;
      .first{
        border: none;
        padding: 8px 5px 8px 11px;
        background-color: $blueLight;
        &.related{
          background-color: #5d5d5d;
        }
        font-size: 13px;
        @include breakpoint(lg){
          font-size: 15px;
        }
        .productTitle{
          font-family: 'ITCFranklinGothicW01-Dm 812668';
        }
      }
      .last{
        padding: 5px;
        width:70px;
        background-color: $blueDark;
        text-align: center;
        font-size: 13px;
        border: none;
        @include breakpoint(lg){
          font-size: 15px;
          width:80px;
        }
      }
    }
  }
}

.btn-normal{
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;background: #024175; /* Old browsers */
  background: #007ac2; /* Old browsers */
  background: -moz-linear-gradient(top,  #007ac2 0%, #1e8fcb 50%, #017fc1 51%, #0c82c1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007ac2), color-stop(50%,#1e8fcb), color-stop(51%,#017fc1), color-stop(100%,#0c82c1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #007ac2 0%,#1e8fcb 50%,#017fc1 51%,#0c82c1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #007ac2 0%,#1e8fcb 50%,#017fc1 51%,#0c82c1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #007ac2 0%,#1e8fcb 50%,#017fc1 51%,#0c82c1 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #007ac2 0%,#1e8fcb 50%,#017fc1 51%,#0c82c1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ac2', endColorstr='#0c82c1',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
  box-shadow: inset 0px 0px 22px 0px rgba(0,0,0,0.15);
  display: inline-block;
  text-transform: uppercase;
  font-family: 'ITCFranklinGothicW01-Dm 812668';
  &:hover{
    cursor: pointer;
  }
  i{
    margin-left: 5px;
  }
}

.ctaBtnsStep5{
  *+*{
    margin-top: 20px;
  }
  >div{
    display: block;
    &:hover{
      cursor: pointer;
    }
  }
  .btn-normal{
    font-size: 9px;
    @include breakpoint(lg){
      font-size: 11px;
    }
  }
}

.summaryFormBtns{
  >div{
    float: right;
    margin-left: 16px;
    font-size: 18px;
    &:hover {
      cursor: pointer;
    }
  }
}


