<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <p class="introText" style="margin-top: 30px">
                        {{vm.intro}}
                    </p>
                    <div data-navigation></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div ng-class="{'active':vm.chosenCategory == 'hsAir'}" class="categoryBox withTitle" ng-click="vm.chooseCategory('hsAir')">
                        <div class="title">
                            <div ng-bind="vm.titles.air" class="rotatedText"></div>
                        </div>
                        <div class="top">
                            <div class="title">
                                highspeed <i class="fa fa-play"></i>
                            </div>
                            <img ng-src="{{vm.images.hsAir}}" alt=""/>
                        </div>
                        <div class="bottom"><ul><li ng-repeat="bullet in vm.hsAirDesc"><span
                                style="white-space: nowrap">{{bullet.text}}</span></li></ul></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div ng-class="{'active':vm.chosenCategory == 'lsAir'}" class="categoryBox" ng-click="vm.chooseCategory('lsAir')">
                        <div class="top">
                            <div class="title">
                                lowspeed <i class="fa fa-play"></i>
                            </div>
                            <img ng-src="{{vm.images.lsAir}}" alt=""/>
                        </div>
                        <div class="bottom"><ul><li ng-repeat="bullet in vm.lsAirDesc"><span
                                style="white-space: nowrap">{{bullet.text}}</span></li></ul></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div ng-click="vm.chooseCategory('hsElectric')" ng-class="{'active':vm.chosenCategory == 'hsElectric'}"
                         class="categoryBox withTitle">
                        <div class="title">
                            <div ng-bind="vm.titles.electric" class="rotatedText"></div>
                        </div>
                        <div class="top">
                            <div class="title">
                                highspeed <i class="fa fa-play"></i>
                            </div>
                            <img ng-src="{{vm.images.hsElectric}}" alt=""/>
                        </div>
                        <div
                                class="bottom"><ul><li ng-repeat="bullet in vm.hsElectricDesc"><span
                                style="white-space: nowrap">{{bullet
                            .text}}</span></li></ul></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div ng-click="vm.chooseCategory('lsElectric')"
                         ng-class="{'active':vm.chosenCategory == 'lsElectric'}" class="categoryBox">
                        <div class="top">
                            <div class="title">
                                lowspeed <i class="fa fa-play"></i>
                            </div>
                            <img ng-src="{{vm.images.lsElectric}}" alt=""/>
                        </div>
                        <div class="bottom"><ul><li ng-repeat="bullet in vm.lsElectricDesc"><span
                                style="white-space: nowrap">{{bullet.text}}</span></li></ul></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div ng-click="vm.chooseCategory('hygiene')"
                         ng-class="{'active':vm.chosenCategory == 'hygiene'}" class="categoryBox withTitle">
                        <div class="title">
                            <div ng-bind="vm.titles.more" class="rotatedText"></div>
                        </div>
                        <div class="top">
                            <div class="title">
                                Hygiene <i class="fa fa-play"></i>
                            </div>
                            <img ng-src="{{vm.images.hygine}}" alt=""/>
                        </div>
                        <div class="bottom"><ul><li ng-repeat="bullet in vm.hygineDesc"><span
                                style="white-space: nowrap">{{bullet.text}}</span></li></ul></div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div ng-click="vm.chooseCategory('maintenance')" ng-class="{'active':vm.chosenCategory == 'maintenance'}" class="categoryBox">
                        <div class="top">
                            <div class="title">
                                Handpiece Maintenance <i class="fa fa-play"></i>
                            </div>
                            <img ng-src="{{vm.images.maintenance}}" alt=""/>
                        </div>
                        <div class="bottom"><ul><li ng-repeat="bullet in vm.maintenanceDesc"><span
                                style="white-space: nowrap">{{bullet.text}}</span></li></ul></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky"><div sticky-step-btn on-clicked="vm.clickNextStep()"
                                                   disabledo="!vm.chosenCategory"
                                         step="2"
                 desc="Choose features"></div></div>
        </div>
    </div>
</div>
