<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <h1 ng-bind-html="vm.title"></h1>
                    <div class="introText" ng-bind-html="vm.intro"></div>
                    <div data-navigation></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="seriesTitle hsAir">
                        <table>
                            <tr>
                                <td class="seriesCol hsAirSeries">Handpiece Series</td>
                                <td class="headCol">head options <i ng-if="vm.tooltips[3].body" ad-tooltip
                                                                            body="{{vm.tooltips[3].body}}"
                                                                            title="{{vm.tooltips[3].title}}"
                                                                            class="fa fa-question"></i></td>
                                <td class="stdCol hsAirStd">light <i ng-if="vm.tooltips[0].body" ad-tooltip
                                                                     body="{{vm.tooltips[0].body}}"
                                                                     title="{{vm.tooltips[0].title}}"
                                                                     class="fa fa-question"></i></td>
                                <td class="stdCol hsAirStd">spray ports <i ng-if="vm.tooltips[1].body" ad-tooltip
                                                                           body="{{vm.tooltips[1].body}}"
                                                                           title="{{vm.tooltips[1].title}}"
                                                                           class="fa fa-question"></i></td>
                                <td class="stdCol hsAirStd">tubing <i ng-if="vm.tooltips[2].body" ad-tooltip
                                                                      body="{{vm.tooltips[2].body}}"
                                                                      title="{{vm.tooltips[2].title}}"
                                                                      class="fa fa-question"></i></td>
                                <td class="stdCol hsAirStd">warranty <i ng-if="vm.tooltips[4].body" ad-tooltip
                                                                        body="{{vm.tooltips[4].body}}"
                                                                        title="{{vm.tooltips[4].title}}"
                                                                        class="fa fa-question"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="overflow">
                        <table>
                            <tr class="entry" ng-repeat="series in vm.series">
                                <td thumbnail-directive
                                    thumbnail-series="{{series.name}}"
                                    thumbnail-image="{{series.image_url}}"
                                    thumbnail-rating="{{series.rating}}"
                                    thumbnail-popular="{{series.popular}}">
                                </td>
                                <td class="headCol headOpts noBorderLeft">
                                    <div class="overflowCell">
                                        <div check-box product="head"
                                             ng-repeat="head in series.heads"></div>
                                    </div>
                                </td>
                                <td class="stdCol light">
                                    <div class="vSplitCell">
                                        <div class="top">
                                            <div ng-repeat="light in series.lights">
                                                {{light.name}}
                                            </div>
                                        </div>
                                        <div ng-show="series.heads[0].models[0].light_image_url" class="bottom">
                                            <img ng-src="{{series.heads[0].models[0].light_image_url}}" alt=""/>
                                        </div>
                                    </div>
                                </td>
                                <td class="stdCol ports">
                                    <div class="vSplitCell">
                                        <div class="top">
                                            {{series.heads[0].models[0].spray_ports}}
                                        </div>
                                        <div ng-show="series.heads[0].models[0].spray_ports_image_url" class="bottom">
                                            <img ng-src="{{series.heads[0].models[0].spray_ports_image_url}}" alt=""/>
                                        </div>
                                    </div>
                                </td>
                                <td class="stdCol tubing">
                                    <div class="vSplitCell">
                                        <div class="top">
                                            {{series.tubing[0].name}}
                                        </div>
                                        <div ng-show="series.tubing[0].image_url" class="bottom">
                                            <img ng-src="{{series.tubing[0].image_url}}" alt=""/>
                                        </div>
                                    </div>
                                </td>
                                <td class="stdCol warranty">
                                    <div class="vSplitCell">
                                        <div class="top">
                                            {{series.heads[0].models[0].warranty}}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky">
                <div sticky-step-btn
                     on-clicked="vm.clickNextStep(3)"
                     disabledo="!vm.stepIntegrity(3)"
                     step="3"
                     desc="view product details">
                </div>
            </div>
        </div>
    </div>
</div>
