<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <h1 ng-bind-html="vm.title"></h1>
                    <p class="introText">Now that you've selected the products that are right for your practice, you can add the
                    accessories and related products required.</p>
                    <div data-navigation></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="seriesTitle">
                       <table>
                           <tr>
                               <td class="first">
                                   Your selected products
                               </td>
                               <td class="second">
                                   Add accessories and related products
                               </td>
                               <td class="third">
                                   Tubing <i ng-if="vm.tooltips[0].body" ad-tooltip
                                             body="{{vm.tooltips[0].body}}"
                                             title="{{vm.tooltips[0].title}}"
                                             class="fa fa-question"></i>
                               </td>
                           </tr>
                       </table>
                    </div>
                    <div class="overflow">
                        <table>
                            <tr ng-if="product.related_products" class="entry" ng-repeat="product in vm.chosenProducts">
                                <td thumbnail-directive
                                    thumbnail-series="{{product.parent_series}}"
                                    thumbnail-model="{{product.name}}"
                                    thumbnail-head-size="{{product.head_size}}"
                                    thumbnail-msrp="{{product.msrp}}"
                                    thumbnail-image="{{product.thumbnail_image_url || product.parent.parent.image}}"
                                    thumbnail-rating="{{product.rating}}"
                                    thumbnail-popular="{{product.popular}}">
                                </td>
                                <td class="relatedProducts">
                                    <div check-box product="product"
                                         name="{{product.brand}} {{product.name}} {{product.product}}"
                                         append-price="true"
                                         ng-repeat="product in product.related_products"></div>
                                </td>
                                <td class="tubing">
                                    <div ng-repeat="product in product.related_products">
                                        <span ng-show="product.tubing=='N/A' || product.tubing=='' || product.tubing=='n/a'">N/A</span>
                                        <span ng-show="product.tubing && product.tubing!='N/A'">{{product.tubing}} Tubing <i ad-tooltip
                                                                                      body="Please discuss your tubing needs with your dealer.<img style='margin-top:10px;display:block;' src='{{product.tubing_image_url}}'>"
                                                                                      title="Tubing"
                                                                                      class="fa fa-question"></i></span>
                                    </div>

                                </td>
                            </tr>
                        </table>
                        <table class="extras">
                            <tr class="entry" ng-repeat="model in vm.extras">
                                <td thumbnail-directive
                                    thumbnail-series="{{model.parent_series}}"
                                    thumbnail-model="{{model.name}}"
                                    thumbnail-head-size="{{model.head_size}}"
                                    thumbnail-msrp="{{model.msrp}}"
                                    thumbnail-image="{{model.thumbnail_image_url}}"
                                    thumbnail-rating="{{model.rating}}"
                                    thumbnail-popular="{{model.popular}}">
                                </td>
                                <td class="checker">
                                    <div check-box check-only="true" product="model"></div>
                                </td>
                                <td class="description">
                                    {{model.description}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky">
                <div sticky-step-btn
                     on-clicked="vm.clickNextStep(5)"
                     step="5"
                     desc="Review Your Summary">
                </div>
            </div>
        </div>
    </div>
</div>