<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Protect Your Investment</h1>
                    <div class="introText">Get the most out of your handpieces with <a
                            target="_blank" ui-sref="maintenance({step:2})">Handpiece
                        Maintenance Products</a>.</div>
                    <div data-navigation></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="seriesTitle">
                       <table>
                           <tr>
                               <td class="first">
                                   Review your selections
                               </td>
                               <td class="second" colspan="2">
                                   you have {{vm.allProducts.length}} product(s)
                               </td>
                           </tr>
                       </table>
                    </div>
                    <div class="overflow">
                        <table>
                            <tr class="entry" ng-repeat="product in vm.allProducts">
                                <td thumbnail-directive
                                    thumbnail-series="{{product.parent_series}}"
                                    thumbnail-model="{{product.name}}"
                                    thumbnail-head-size="{{product.head_size}}"
                                    thumbnail-msrp="{{product.msrp}}"
                                    thumbnail-image="{{product.thumbnail_image_url || product.parent.parent.image_url || product.parent.parent.parent.image_url}}"
                                    thumbnail-rating="{{product.rating}}"
                                    thumbnail-type="{{product.type}}"
                                    thumbnail-popular="{{product.popular}}">
                                </td>
                                <td class="details">
                                    <p>{{product.description}}</p>
                                    <p ng-if="product.requirements"><strong>Requirements</strong>: {{product
                                        .requirements}}</p>
                                    <p ng-if="product.recommended"><strong>Recommended Quantity per
                                        Operatory</strong>: {{product.recommended}}</p>
                                    <p ng-if="product.warranty"><strong>Warranty</strong>: {{product.warranty}}</p>
                                </td>
                                <td class="remove">
                                    <div ng-click="vm.toggleProduct(product,product.type)" class="closeBtn"></div>
                                    remove
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky">
                <div sticky-step-5-btns on-save-share-clicked="vm.clickShare()"></div>
            </div>
        </div>
    </div>
</div>
