<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <h1 ng-bind-html="vm.title"></h1>
                    <div class="introText" ng-bind-html="vm.intro"></div>
                    <div data-navigation></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="seriesTitle">
                        <table>
                            <tr>
                                <td class="seriesCol">Motor System</td>
                                <td class="ratio">Ratio <i ng-if="vm.tooltips[1].body" ad-tooltip
                                                                            body="{{vm.tooltips[1].body}}"
                                                                            title="{{vm.tooltips[1].title}}"
                                                                            class="fa fa-question"></i></td>
                                <td class="chuck">Chuck Style <i ng-if="vm.tooltips[2].body" ad-tooltip
                                                                     body="{{vm.tooltips[2].body}}"
                                                                     title="{{vm.tooltips[2].title}}"
                                                                     class="fa fa-question"></i></td>
                                <td class="tubing">tubing <i ng-if="vm.tooltips[0].body" ad-tooltip
                                                             body="{{vm.tooltips[0].body}}"
                                                             title="{{vm.tooltips[0].title}}"
                                                             class="fa fa-question"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="overflow">

                        <div class="entry" ng-repeat="series in vm.motorSystems">
                            <div class="divider ratioDivider"></div>
                            <div class="divider chuckDivider"></div>
                            <table>
                                <tr>
                                    <td thumbnail-directive
                                        thumbnail-series="{{series.name}}"
                                        thumbnail-image="{{series.image_url}}"
                                        thumbnail-rating="{{series.rating}}"
                                        thumbnail-popular="{{series.popular}}">
                                    </td>
                                    <td class="middle">
                                        <table>
                                            <tr ng-repeat="model in series.models">
                                                <td class="ratio">
                                                    <div check-box product="model" name="{{model.gear_ratio}} {{model.handpiece_type}}"></div>
                                                </td>
                                                <td class="chuck">
                                                    <div>{{model.chuck}}</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="tubing">
                                        <div class="vSplitCell">
                                            <div class="top">
                                                {{series.models[0].tubing}}
                                            </div>
                                            <div ng-show="series.models[0].tubing_image_url" class="bottom">
                                                <img ng-src="{{series.models[0].tubing_image_url}}" alt=""/>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky">
                <div sticky-step-btn
                     on-clicked="vm.clickNextStep(3)"
                     disabledo="!vm.stepIntegrity(3)"
                     step="3"
                     desc="view product details">
                </div>
            </div>
        </div>
    </div>
</div>
