<table class="modalTable">
    <tr>
        <th>
            Please Confirm
        </th>
    </tr>
    <tr>
        <td>
            Do you want to remove all models?
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <div class="rectBtn okBtn" ng-click="onConfirm(); $close();">Remove</div>
            <div class="rectBtn cancelBtn" ng-click="onCancel(); $close();">Keep</div>
        </td>
    </tr>
</table>
