<table class="modalTable">
    <tr>
        <th>
            If you use:
        </th>
        <th colspan="2">
            Select this:
        </th>
        <th class="closeCol">
            <div class="closeBtn" ng-click="onClose(); $close();"></div>
        </th>
    </tr>
    <tr ng-repeat="model in models">
        <td class="first">
            {{model.coupler}}
        </td>
        <td>
            <div check-box product="model"></div>
        </td>
    </tr>
</table>