<table class="modalTable">
    <tr>
        <th>
            Redirecting
        </th>
    </tr>
    <tr>
        <td>
            You have no more items to list.  You will be redirected back to Step 2.
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <div class="rectBtn okBtn" ng-click="onConfirm(); $close();">Got it</div>
        </td>
    </tr>
</table>
