<table class="modalTable">
    <tr>
        <th>
            Notice
        </th>
    </tr>
    <tr>
        <td>
            Removing a product will remove all related products as well.
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <div class="rectBtn okBtn" ng-click="onConfirm(); $close();">Remove</div>
            <div class="rectBtn cancelBtn" ng-click="onCancel(); $close();">Keep</div>
        </td>
    </tr>
</table>
