<table class="modalTable">
    <tr>
        <th>
            Hold on there
        </th>
    </tr>
    <tr>
        <td>
            You need to make some selections first.
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <div class="rectBtn okBtn" ng-click="$close();">Got it</div>
        </td>
    </tr>
</table>
