<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <h1 ng-bind-html="vm.title"></h1>
                    <p class="introText">Now that you've selected the products that are right for your practice, you can add the
                    accessories and related products required.</p>
                    <div data-navigation></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="seriesTitle">
                       <table>
                           <tr>
                               <td class="first">
                                   Your selected products
                               </td>
                               <td class="second">
                                   Add accessories and related products
                               </td>
                           </tr>
                       </table>
                    </div>
                    <div class="overflow">
                        <table>
                            <tr ng-if="product.related_products" class="entry" ng-repeat="product in vm.chosenProducts">
                                <td thumbnail-directive
                                    thumbnail-series="{{product.parent_series}}"
                                    thumbnail-model="{{product.name}}"
                                    thumbnail-head-size="{{product.head_size}}"
                                    thumbnail-msrp="{{product.msrp}}"
                                    thumbnail-image="{{product.thumbnail_image_url}}"
                                    thumbnail-rating="{{product.rating}}"
                                    thumbnail-popular="{{product.popular}}">
                                </td>
                                <td class="relatedProducts">
                                    <div check-box product="product"
                                         name="{{product.description}}"
                                         append-price="true"
                                         ng-repeat="product in product.related_products"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky">
                <div sticky-step-btn
                     on-clicked="vm.clickNextStep(5)"
                     step="5"
                     desc="Review Your Summary">
                </div>
            </div>
        </div>
    </div>
</div>