<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <h1 ng-bind-html="vm.title"></h1>
                    <div class="introText" ng-bind-html="vm.intro"></div>
                    <div data-navigation></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="overviewTitle">
                        <table>
                            <tr>
                                <td class="seriesCol">Description</td>
                                <td class="cost">Cost Per Application</td>
                                <td class="oil">Purges Excess Oil</td>
                                <td class="cleans">Cleans Scale from Spray Ports</td>
                                <td class="friendly">Environmentally Friendly</td>
                            </tr>
                        </table>
                    </div>
                    <div class="overviewOverflow">
                        <table>
                            <tr>
                                <td class="seriesCol">
                                    <div class="title">
                                        Assistina Maintenance System
                                    </div>
                                </td>
                                <td class="cost">$0.03</td>
                                <td class="oil checkmark"></td>
                                <td class="cleans checkmark"></td>
                                <td class="friendly checkmark"></td>
                            </tr>
                            <tr>
                                <td class="seriesCol">
                                    <div class="title">
                                        Spray Can
                                    </div>
                                </td>
                                <td class="cost">$0.55</td>
                                <td class="oil"></td>
                                <td class="cleans"></td>
                                <td class="friendly"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="seriesTitle">
                        <table>
                            <tr>
                                <td class="seriesCol">Maintenance Products:</td>
                                <td class="description">Description</td>
                            </tr>
                        </table>
                    </div>
                    <div class="overflow">
                        <table>
                            <tr class="entry" ng-repeat="model in vm.models">
                                <td thumbnail-directive
                                    thumbnail-series="{{model.parent_series}}"
                                    thumbnail-model="{{model.name}}"
                                    thumbnail-head-size="{{model.head_size}}"
                                    thumbnail-msrp="{{model.msrp}}"
                                    thumbnail-image="{{model.thumbnail_image_url}}"
                                    thumbnail-rating="{{model.rating}}"
                                    thumbnail-popular="{{model.popular}}">
                                </td>
                                <td class="checker">
                                    <div check-box check-only="true" product="model"></div>
                                </td>
                                <td class="description">
                                    {{model.description}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky">
                <div sticky-step-btn
                     on-clicked="vm.clickNextStep(3)"
                     disabledo="!vm.stepIntegrity(3)"
                     step="3"
                     desc="view product details">
                </div>
            </div>
        </div>
    </div>
</div>
