<!--[if IE ]><![endif]-->
<!doctype html>
<!--[if lte IE 8 ]><html class="no-js ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html id="ng-app" ng-app="adec" class="no-js ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>A-dec Inc. Handpiece Advisor</title>
        <meta name="description" content="A-dec provides reliable dental equipment solutions including dental chairs, delivery systems, dental lights, and more to better the lives of dentists and their patients worldwide.">
        <meta name="viewport" content="width=1024">
        <meta name="author" content="Jason Chaney | CMD">
        <link rel="shortcut icon" href="/favicon.ico">
        <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->
        <meta http-equiv="cleartype" content="on">
        <preference name="DisallowOverscroll" value="true" />
        <!-- android -->
        <meta name="mobile-web-app-capable" content="yes">
        <!-- iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
        <meta name="apple-mobile-web-app-title" content="My App">
        <script>(function(i){var e=/iPhone/i,n=/iPod/i,o=/iPad/i,t=/(?=.*\bAndroid\b)(?=.*\bMobile\b)/i,r=/Android/i,d=/BlackBerry/i,s=/Opera Mini/i,a=/IEMobile/i,b=/(?=.*\bFirefox\b)(?=.*\bMobile\b)/i,h=RegExp("(?:Nexus 7|BNTV250|Kindle Fire|Silk|GT-P1000)","i"),c=function(i,e){return i.test(e)},l=function(i){var l=i||navigator.userAgent;this.apple={phone:c(e,l),ipod:c(n,l),tablet:c(o,l),device:c(e,l)||c(n,l)||c(o,l)},this.android={phone:c(t,l),tablet:!c(t,l)&&c(r,l),device:c(t,l)||c(r,l)},this.other={blackberry:c(d,l),opera:c(s,l),windows:c(a,l),firefox:c(b,l),device:c(d,l)||c(s,l)||c(a,l)||c(b,l)},this.seven_inch=c(h,l),this.any=this.apple.device||this.android.device||this.other.device||this.seven_inch},v=i.isMobile=new l;v.Class=l})(window);</script>
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!--[if lte IE 9]>
        <link rel="stylesheet" href="styles/ie.css">
        <![endif]-->
        <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
        <![endif]-->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="../bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->


    </head>
<!--[if lte IE 8 ]><body id="ng-app" ng-app="adec" ng-controller="AppController" ng-class="$state.current.name + ' ' + $state.current.name+$stateParams.step"><![endif]-->
<!--[if IE 9 ]><body ng-controller="AppController"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <body id="ng-app" ng-app="adec" ng-controller="AppController" ng-class="$state.current.name + ' ' + $state.current.name+$stateParams.step"> <!--<![endif]-->

        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div ui-sref="home" class="logo"><img src="images/logo.png" alt="a-dec logo"/></div>
                        <div class="title"><span class="blue">Handpiece</span> <span class="green">Advisor</span></div>
                        <div class="phone">
                            <strong>Questions:</strong>
                            Call A-dec at <a href="tel:8005471883">1.800.547.1883</a><br>within the USA or Canada
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--[if IE 9 ]>
        <div class="ie9-main-wrapper" ng-class="$state.current.name + ' ' + $state.current.name+$stateParams.step">
        <![endif]-->
        <div class="main" ng-class="{'cover':coverSupported}">
            <div ui-view="main" autoscroll='true'>
                <div style="padding: 200px" class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
        <!--[if IE 9 ]>
        </div>
        <![endif]-->
        <footer>
            <div class="container">
                &copy;{{date}} A-dec Inc. All rights reserved. <a
                    target="_blank" href="http://us.a-dec.com/en/Legal-Disclaimers/Privacy-Policy">Privacy Policy</a> | <a
                    target="_blank" href="http://us.a-dec.com/en/Legal-Disclaimers/Terms-of-Use">Terms of Use</a> |
                <a href="http://www.a-dec.com" target="_blank">a-dec.com</a>
            </div>
        </footer>
        <!--[if lt IE 9]>
        <!--<script src="scripts/libs/es5-shim.js"></script>-->
        <!--<![endif]-->
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/PxLoader/PxLoader.js"></script>
        <script src="../bower_components/PxLoader/PxLoaderImage.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../bower_components/sugar/release/sugar.min.js"></script>
        <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="../bower_components/fastclick/lib/fastclick.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../bower_components/angular-google-analytics/dist/angular-google-analytics.min.js"></script>
        <script src="scripts/libs/il.js"></script>
        <script src="scripts/libs/tt.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->

        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/helpers/Helpers.js"></script>
        <script src="scripts/helpers/ImagePreloadFactory.js"></script>
        <script src="scripts/navigation/NavigationDirective.js"></script>
        <script src="scripts/summary/SummaryFormCtrl.js"></script>
        <script src="scripts/summary/SummaryCtrl.js"></script>
        <script src="scripts/checkers/GeneralModalCtrl.js"></script>
        <script src="scripts/navigation/NavModalCtrl.js"></script>
        <script src="scripts/modals/confirmModalCtrl.js"></script>
        <script src="scripts/callouts/ctaCtrl.js"></script>
        <script src="scripts/navigation/NavModalConfirmCtrl.js"></script>
        <script src="scripts/checkers/CheckboxDirective.js"></script>
        <script src="scripts/tooltips/TooltipDirective.js"></script>
        <script src="scripts/thumbs/ThumbnailDirective.js"></script>
        <script src="scripts/stickyButtons/StickyStepDirective.js"></script>
        <script src="scripts/api/apiService.js"></script>
        <script src="scripts/api/HighSpeedAirService.js"></script>
        <script src="scripts/api/LowSpeedAirService.js"></script>
        <script src="scripts/api/MaintenanceService.js"></script>
        <script src="scripts/hygiene/HygieneCtrl.js"></script>
        <script src="scripts/api/HighSpeedElectricService.js"></script>
        <script src="scripts/tables/AutoborderTablesDirective.js"></script>
        <script src="scripts/stickyButtons/sticky.js"></script>
        <script src="scripts/stickyButtons/StickyStep5BtnDirective.js"></script>
        <script src="scripts/stickyButtons/StickySummaryBtnDirective.js"></script>
        <script src="scripts/api/LowSpeedElectricService.js"></script>
        <script src="scripts/api/HygieneService.js"></script>
        <script src="scripts/hsElectric/HsElectric.js"></script>
        <script src="scripts/lsElectric/LsElectric.js"></script>
        <script src="scripts/hsAir/HsAirCtrl.js"></script>
        <script src="scripts/lsAir/LsAirCtrl.js"></script>
        <script src="scripts/maintenance/MaintenanceCtrl.js"></script>
        <script src="scripts/home/HomeService.js"></script>
        <script src="scripts/home/HomeCtrl.js"></script>
        <script src="scripts/Router.js"></script>
        <script src="scripts/AppCtrl.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <!--[if lt IE 9]>
        <script src="scripts/libs/respond.min.js"></script>
        <![endif]-->

    </body>
</html>
