<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <h1 ng-bind-html="vm.title"></h1>
                    <div class="introText" ng-bind-html="vm.intro"></div>
                    <div data-navigation></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="seriesTitle">
                        <table>
                            <tr>
                                <td class="seriesCol">Handpiece Series</td>
                                <td class="headSize">Head Size <i ng-if="vm.tooltips[0].body" ad-tooltip
                                                                            body="{{vm.tooltips[0].body}}"
                                                                            title="{{vm.tooltips[0].title}}"
                                                                            class="fa fa-question"></i></td>
                                <td class="length">Handpiece Length <i ng-if="vm.tooltips[1].body" ad-tooltip
                                                                     body="{{vm.tooltips[1].body}}"
                                                                     title="{{vm.tooltips[1].title}}"
                                                                     class="fa fa-question"></i></td>
                                <td class="ratio">Ratio <i ng-if="vm.tooltips[2].body" ad-tooltip
                                                            body="{{vm.tooltips[2].body}}"
                                                            title="{{vm.tooltips[2].title}}"
                                                            class="fa fa-question"></i></td>
                                <td class="chuck">Chuck Style <i ng-if="vm.tooltips[4].body" ad-tooltip
                                                            body="{{vm.tooltips[4].body}}"
                                                            title="{{vm.tooltips[4].title}}"
                                                            class="fa fa-question"></i></td>
                                <td class="light">Light <i ng-if="vm.tooltips[5].body" ad-tooltip
                                                            body="{{vm.tooltips[5].body}}"
                                                            title="{{vm.tooltips[5].title}}"
                                                            class="fa fa-question"></i></td>
                                <td class="finish">Finish <i ng-if="vm.tooltips[3].body" ad-tooltip
                                                             body="{{vm.tooltips[3].body}}"
                                                             title="{{vm.tooltips[3].title}}"
                                                             class="fa fa-question"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="overflow">
                        <div class="entry" ng-repeat="series in vm.series">
                            <div class="divider headSizeDivider"></div>
                            <div class="divider lengthDivider"></div>
                            <div class="divider ratioDivider"></div>
                            <div class="divider chuckDivider"></div>
                            <div class="divider lightDivider"></div>
                            <table>
                                <tr>
                                    <td thumbnail-directive
                                        thumbnail-series="{{series.name}}"
                                        thumbnail-image="{{series.image_url}}"
                                        thumbnail-rating="{{series.rating}}"
                                        thumbnail-popular="{{series.popular}}">
                                    </td>
                                    <td class="middle">
                                        <!--Loop over each head-->
                                        <table ng-repeat="head in series.heads">
                                            <tr ng-repeat="model in head.models">
                                                <td class="headSize">
                                                    {{head.name || 'N/A'}}
                                                </td>
                                                <td class="length">
                                                    {{model.handpiece_length}}
                                                </td>
                                                <td class="ratio">
                                                    <div check-box product="model"
                                                         name="{{model.gear_ratio}} {{model.handpiece_type}}"></div>
                                                </td>
                                                <td class="chuck">
                                                    {{model.chuck}}
                                                </td>
                                                <td class="light">
                                                    {{model.light}}
                                                </td>
                                                <td class="finish">
                                                    {{model.finish}}
                                                </td>
                                            </tr>
                                        </table>
                                        <!--Loop over the NA's - add a table here with top border-->
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky">
                <div sticky-step-btn
                     on-clicked="vm.clickNextStep(3)"
                     disabledo="!vm.stepIntegrity(3)"
                     step="3"
                     desc="view product details">
                </div>
            </div>
        </div>
    </div>
</div>
