<div class="checkBox" ng-class="{'active':product.active}">
    <div>
        <div>
            <div class="first">
                <div></div>
            </div>
            <div ng-class="{link:shouldBluifyName()}" class="last" ng-click="clickedTitle()">
                <div ng-if="!checkOnly">{{name || product.name}} <span ng-if="appendPrice" class="price">{{product.msrp | currency}}</span></div>
            </div>
        </div>
    </div>
    <div ng-hide="oneModelsExists()" ng-repeat="model in product.models | filter:{active:true}" class="modelItem">{{model.name}}</div>
</div>