<table class="modalTable">
    <tr>
        <th>
            If you use this coupler:
        </th>
        <th colspan="2">
            Select this handpiece:
        </th>
        <th class="closeCol">
            <div class="closeBtn" ng-click="onClose(); $close();"></div>
        </th>
    </tr>
    <tr ng-repeat="model in models">
        <td class="first">
            {{model.coupler}}
        </td>
        <td class="last">
            <div check-box product="model"></div>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td colspan="2">

        </td>
        <td>
            <div ng-click="onClose(); $close();"><button>Done</button></div>
        </td>
    </tr>
</table>