<div class="nav">
    <ul class="steps">
        <li class="step step-0">STEP GUIDE</li>
        <li ui-sref="home" ng-class="getClassForStep(1)" class="step step-1"><span class="number">1</span><span
                class="text">SELECT PRODUCT<br/>CATEGORY</span></li>
        <li ng-click="navItemClicked(2)" ng-class="getClassForStep(2)" class="step step-2"><span
                class="number">2</span><span class="text">CHOOSE<br/>FEATURES</span></li>
        <li ng-click="navItemClicked(3)" ng-class="getClassForStep(3)" class="step step-3"><span class="number">3</span><span
                class="text">VIEW PRODUCT<br />DETAILS</span></li>
        <li ng-click="navItemClicked(4)" ng-class="getClassForStep(4)" class="step step-4"><span class="number">4</span><span class="text"
                >CHECK<br />REQUIREMENTS</span></li>
        <li ng-click="navItemClicked(5)" ng-class="getClassForStep(5)" class="step step-5"><span class="number">5</span><span
                class="text">REVIEW YOUR<br/>SUMMARY</span></li>
    </ul>
</div>
