<table class="modalTable">
    <tr>
        <th>
            Notice
        </th>
    </tr>
    <tr>
        <td>
            {{text}}
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <div class="rectBtn okBtn" ng-click="onConfirm(); $close();">Step 2</div>
            <div class="rectBtn cancelBtn" ng-click="onCancel(); $close();">Got it</div>
        </td>
    </tr>
</table>
