<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <h1 ng-bind-html="vm.title"></h1>
                    <div class="introText" ng-bind-html="vm.intro"></div>
                    <div data-navigation></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="seriesTitle">
                        <table>
                            <tr>
                                <td class="seriesCol">Handpiece Series</td>
                                <td class="length">Handpiece Length <i ad-tooltip
                                                                            body="{{vm.tooltips[2].body}}"
                                                                            title="{{vm.tooltips[2].title}}"
                                                                            class="fa fa-question"></i></td>
                                <td class="head">Head Size <i ad-tooltip
                                                                     body="{{vm.tooltips[1].body}}"
                                                                     title="{{vm.tooltips[1].title}}"
                                                                     class="fa fa-question"></i></td>
                                <td class="ports">Spray Ports <i ad-tooltip
                                                                 body="{{vm.tooltips[0].body}}"
                                                                 title="{{vm.tooltips[0].title}}"
                                                                 class="fa fa-question"></i></td>
                                <td class="finish">Finish <i ad-tooltip
                                                             body="{{vm.tooltips[3].body}}"
                                                             title="{{vm.tooltips[3].title}}"
                                                             class="fa fa-question"></i></td>
                            </tr>
                        </table>
                    </div>

                    <div class="overflow">
                        <div class="entry" ng-repeat="series in vm.series">
                            <div class="divider lengthDivider"></div>
                            <div class="divider headDivider"></div>
                            <div class="divider portsDivider"></div>
                            <table>
                                <tr>
                                    <td thumbnail-directive
                                        thumbnail-series="{{series.name}}"
                                        thumbnail-image="{{series.image_url}}"
                                        thumbnail-rating="{{series.rating}}"
                                        thumbnail-popular="{{series.popular}}">
                                    </td>
                                    <td style="vertical-align: top" class="middle">
                                        <table>
                                            <tr ng-repeat="model in series.models | orderBy:'head_size':reverse">
                                                <td class="length">
                                                    <div check-box product="model" name="{{model.handpiece_length}}"></div>
                                                </td>
                                                <td class="head">
                                                    {{model.head_size || 'N/A'}}
                                                </td>
                                                <td class="ports">
                                                    {{series.models[0].spray_ports || 'N/A'}}
                                                </td>
                                                <td class="finish">
                                                    {{model.finish || 'N/A'}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky">
                <div sticky-step-btn
                     on-clicked="vm.clickNextStep(3)"
                     disabledo="!vm.stepIntegrity(3)"
                     step="3"
                     desc="view product details">
                </div>
            </div>
        </div>
    </div>
</div>
