<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <h1 ng-bind-html="vm.title"></h1>
                    <p class="introText">Below are the products that match your criteria. Review the material, update your list, as
                    needed, and proceed to the check requirement step to determine what additional products are
                        needed.</p>
                    <div data-navigation></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="seriesTitle">
                        <table>
                            <tr>
                                <td class="first">
                                    Your selected products
                                </td>
                                <td class="second" colspan="2">
                                    Product Details
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="overflow">
                        <table>
                            <tr class="entry" ng-repeat="product in vm.chosenProducts">
                                <td thumbnail-directive
                                    thumbnail-series="{{product.parent_series}}"
                                    thumbnail-model="{{product.name}}"
                                    thumbnail-head-size="{{product.head_size}}"
                                    thumbnail-msrp="{{product.msrp}}"
                                    thumbnail-image="{{product.thumbnail_image_url || product.parent.image_url || product.parent.parent.image_url}}"
                                    thumbnail-rating="{{product.rating}}"
                                    thumbnail-popular="{{product.popular}}">
                                </td>
                                <td class="details">
                                    <div ng-show="product.bullets" class="copy">
                                        <ul>
                                            <li ng-repeat="bullet in product.bullets">{{bullet.text}}</li>
                                        </ul>
                                    </div>
                                    <div ng-show="product.requirements" class="requirements">
                                        <strong>Requirements:</strong> {{product.requirements}}
                                    </div>
                                </td>
                                <td class="remove">
                                    <div ng-click="vm.toggleProduct(product,'model')" class="closeBtn"></div>
                                    remove
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky">
                <div sticky-step-btn
                     on-clicked="vm.clickNextStep(4)"
                     step="4"
                     desc="Check Requirements">
                </div>
            </div>
        </div>
    </div>
</div>