<div ng-click="onClicked()" ng-class="{'disabled':disabled}" class="bbArrowSticky">
    <div class="stickyBtnWrapper">
        <div class="title">STEP {{step}}</div>
        <div class="sub">{{desc}}</div>
        <img ng-hide="disabled" src="images/bigBlueArrow.png" alt=""/>
        <img ng-show="disabled" src="images/bigBlueArrowDisabled.png" alt=""/>
    </div>
</div>
