<div class="ctaBtnsStep5">
    <div ng-click="onSaveShareClicked()" class="btn-normal gradient">Save and Share <i class="fa fa-share-alt"></i></div>
    <div ui-sref="home" class="btn-normal gradient">Find More Products <i class="fa fa-repeat"></i></div>
    <!--<div class="btn-normal gradient">Print Summary <i class="fa fa-print"></i></div>-->
</div>