<div class="ctaBtnsStep5" style="margin-bottom: 30px">
    <div ui-sref="home" class="btn-normal gradient">Find More Products <i class="fa fa-repeat"></i></div>
    <!--<div class="btn-normal gradient">Print Summary <i class="fa fa-print"></i></div>-->
</div>