<td class="thumb">
    <div ng-if="popular" class="popular">
        <img ng-src="images/mostPopularBadge.png" alt=""/>
    </div>
    <div class="image">
        <img ng-if="image" ng-src="{{image}}" alt=""/>
        <table ng-if="!image" class="textImage">
            <tr>
                <td>
                    <div>
                        <span ng-if="!override_name_noimage">{{series}} {{model}}</span>
                        <span ng-if="override_name_noimage">{{override_name_noimage}}</span>
                    </div>
                    <div ng-if="msrp" class="textImageCurrency">{{msrp | noFractionCurrency}}</div>
                </td>
            </tr>
        </table>
    </div>
    <div ng-if="image" class="title">
        <table>
            <tr>
                <td ng-class="type" class="first">
                    <div class="productTitle"><span style="white-space: nowrap;">{{series}}</span>
                        <span ng-if="model" style="white-space: nowrap;">{{model}}</span></div>
                    <div ng-if="msrp" class="modelInfo">{{msrp | noFractionCurrency}} <span
                            style="white-space: nowrap;" ng-if="head_size">| {{head_size}}</span></div>
                </td>
                <td ng-show="rating" class="last">
                    <div class="rating">{{rating}}</div>
                </td>
            </tr>
        </table>
    </div>
</td>
