<div class="cta" ng-click="clickHandpiecePromo()">
    <div class="title">Handpiece Promos</div>
    <div class="copy">
        Save up to $1,875 off suggested retail prices.
    </div>
    <div class="actionBtn gradient">
        Find out more <i class="fa fa-play"></i>
    </div>
</div>

<div class="cta" ng-click="clickFindDealer()">
    <div class="actionBtn gradient">
        Find a dealer <i class="fa fa-play"></i>
    </div>
</div>