<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12 ">
                    <h1>Selection Summary</h1>
                    <div class="row introText">
                        <div class="col-xs-11">Simply provide your contact information below to receive a link to the
                            summary
                        of your selections, which you can save and share. Required fields are marked with an asterisk
                            (*).
                        </div>
                    </div>
            </div>
            </div>
           <form autocomplete="on">
               <div class="row">
                    <div class="col-xs-2 adLabel required">
                        Name
                    </div>
                    <div class="col-xs-9">
                        <input ng-class="{'error':vm.errorField=='name'}" ng-model="vm.userData.name" autofocus type="text"/>
                    </div>
                </div>
               <div class="row">
                    <div class="col-xs-2 adLabel required">
                        E-mail
                    </div>
                    <div class="col-xs-9">
                        <input ng-class="{'error':vm.errorField=='email'}" ng-model="vm.userData.email" type="email"/>
                    </div>
                </div>
               <div class="row">
                    <div class="col-xs-2 adLabel">
                        Phone
                    </div>
                    <div class="col-xs-9">
                        <input ng-class="{'error':vm.errorField=='phone'}" ng-model="vm.userData.phone" type="text"/>
                    </div>
                </div>
               <div class="row">
                    <div class="col-xs-2 adLabel required">
                        Zip Code
                    </div>
                    <div class="col-xs-2">
                        <input ng-class="{'error':vm.errorField=='zip'}" ng-model="vm.userData.zip" type="text"/>
                    </div>
                    <div class="col-xs-5 adLabel">
                        Number of operatories in your office
                    </div>
                    <div class="col-xs-2">
                        <input ng-class="{'error':vm.errorField=='numOperatories'}" ng-model="vm.userData.numOperatories"
                               type="text"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Send Summary to the following:</h1>
                        <input ng-class="{'error':vm.errorField=='sendToSelf'}" id="sendToSelf"
                               ng-model="vm.userData.sendToSelf" style="width:26px;" type="checkbox"/> <label
                            for="sendToSelf">Send a copy to myself at the above e-mail address. </label>
                    </div>
                </div>
               <div class="row">
                   <div class="col-xs-11 well">

                       <div class="topLabel"><i class="fa fa-envelope"></i> Send a copy to my A-dec dealer
                           representative:</div>
                       <input ng-class="{'error':vm.errorField=='dealerEmail'}" ng-model="vm.userData.dealerEmail"
                              type="text" placeholder="Enter e-mail"/>

                       <div class="topLabel"><i class="fa fa-envelope"></i> Send a copy to others:</div>
                       <input ng-class="{'error':vm.errorField=='additionalEmail'}" ng-model="vm.userData.additionalEmail"
                              type="text" placeholder="Enter e-mail"/>
                   </div>
               </div>
                <div class="row">
                    <div class="col-xs-11 summaryFormBtns">
                        <div ng-click="vm.sendData()" class="btn-normal gradient">Submit <i
                                ng-show="vm.loading" class="fa fa-refresh fa-spin"></i></div>
                        <div ui-sref="home" class="btn-normal gradient">Find more
                            Products <i class="fa fa-repeat"></i></div>
                    </div>
                </div>
               <div ng-show="vm.validationError" class="row">
                   <div class="col-xs-11">
                         <div class="validationErrors clearfix pull-right">{{vm.validationError}}</div>
                   </div>
               </div>
           </form>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>