<div class="container">
    <div class="row">
        <div class="col-xs-10 leftCol">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{vm.headline}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="summaryTitle">
                        Would you like to learn more about the products you selected?
                    </div>
                    <div class="overflow">
                        <table>
                            <tr class="entry" ng-repeat="product in vm.products">
                                <td thumbnail-directive
                                    thumbnail-series="{{product.parent_series}}"
                                    thumbnail-model="{{product.name}}"
                                    thumbnail-head-size="{{product.head_size}}"
                                    thumbnail-msrp="{{product.msrp}}"
                                    thumbnail-override-no-image-name="{{product.parent_series}} {{product.name}} {{product.part_number}}"
                                    thumbnail-image="{{product.thumbnail_image_url}}"
                                    thumbnail-rating="{{product.rating}}"
                                    thumbnail-type="{{product.type}}"
                                    thumbnail-popular="{{product.popular}}">
                                </td>
                                <td class="details">
                                    <div class="name">{{product.brand}}</div>
                                    <div class="model">{{product.name}}</div>
                                    <div class="part">Part #{{product.part_number}}</div>
                                    <div class="links">
                                        <a target="_blank" ng-if="product.specification_url" ng-href="{{product.specification_url}}">Specifications &amp; Comparison Chart</a>
                                        <a ng-if="product.learn_more_url_text" href="{{product.learn_more_url}}"
                                           target="_blank">{{product.learn_more_url_text}}</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="footer">
                        To learn about other A-dec services and products,
                        visit <a target="_blank" href="http://a-dec.com">A-dec.com</a>
                        or contact customer service at <a href="mailto:domestic@a-dec.com">domestic@a-dec.com</a>
                        or <a href="tel:18005471883">1.800.547.1883</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 rightCol">
            <div ui-view="cta">
                <div class="preloader">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div sticky offset="30" class="sticky">
                <div sticky-summary-btns></div>
            </div>
        </div>
    </div>
</div>
